<style>
    div.mb-3{
        max-width: 800px;
        margin: auto;
        border: 3px solid #F0FFF0;
    }
    div.fromcontrol{
        max-width: 500px;
        margin: auto;
        border: 3px solid #E6E6FA;
            }
</style>




<div align = "center">
    <label for "file" >Select the picture for detecting the pattern of Thai's silk surface</label>
    <div class="mb-3">
        <!-- <input class="form-control" type="file" id="formFileMultiple" multiple> -->
        <img id="blah" src="#" alt="your image" />
        <input class="form-control" type="file" id="formFileMultiple" multiple onchange="readURL(this);">
        <label for="formFileMultiple" class="form-label">You can choose multiple file here</label>
    </div>
</div>
<div class="fromcontrol">
    <input class="form-control form-control-sm" type="text" placeholder="Give we more information" maxlength="100" aria-label=".form-control-sm example">
</div>
<div align = "center">
    <button type="submit" class="btn btn-primary" >Submit</button> <button type ="reset" class="btn btn-primary">Reset</button>
</div>
