<table style="width: 80%;">
    <tr>
        <th>Thai Silk Pattern</th>
        <th>Defects</th>
        <th>Accuracy</th>
    </tr>
    <tr>
        <td>HmeeRuad (หมื่รวด)</td>
        <td>-</td>
        <td>0.90</td>
    </tr>
    <tr>
        <td>HmeeRuad (หมื่รวด)</td>
        <td>-</td>
        <td>0.92</td>
    </tr>
    <tr>
        <td>HmeeRuad (หมื่รวด)</td>
        <td>-</td>
        <td>0.94</td>
    </tr>
    <tr>
        <td>HmeeRuad (หมื่รวด)</td>
        <td>-</td>
        <td>0.93</td>
    </tr>
    <tr>
        <td>HmeeRuad (หมื่รวด)</td>
        <td>-</td>
        <td>0.94</td>
    </tr>
    <tr>
        <td>HmeeRuad (หมื่รวด)</td>
        <td>-</td>
        <td>0.61</td>
    </tr>

</table>