<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include '../components/mdb.html' %}
</head>
<body  style=" background-color: #CBFDCC ;">
    {% include '../components/navbar.html' %}
    <div align = "center">
        <h1 style="margin-top:10px; background-color:#4863A0; color: white; width: 70%; padding-top: 10px; padding-bottom: 10px;">Detection History</h1>
        {% include '../components/history.html' %}
    </div>
    
</body>
</html>