<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../components/mdb.html' %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>showresult</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"style="background-color: #F0F8FF;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Show Result</a>
            </div>
            <ul class="nav navbar-nav">
                <a href="/">Detection page  </a>
                <a href="#">Result page  </a>
                <i class="material-icons">favorite</i>
            </ul>
        </div>
    </nav>
    <h5 align = center>Show result of image</h5>
</body>
</html>