<!DOCTYPE html>
<html lang="en">

<head>
    {% include '../components/mdb.html' %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>showresult</title>
</head>

<body  style="background-color: rgb(186, 251, 190);">
    {% include '../components/navbar.html' %}
    <div class="backgroundcolor">
        <h5 align=center>Show result of image</h5>
    </div>
</body>

</html>