<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../components/mdb.html' %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>showresult</title>
</head>
<style>
    table, th, td {
  border: 1px solid black;
  border-radius: 10px;
}
    /* p {
        border: 2px solid;
        border-color: #D9FFF9;
  border-radius: 6px;
  margin: auto;
  max-width: 500px;
} */
</style>
<body>
    {% include '../components/navbar.html' %}
    <div class = "backgroundcolor" style=" background-color: rgb(186, 251, 190); flex: 100%;">
        <h5 align = "center">Show result of image</h5>
        <div name="showre" align="center">
        <img src="{{ img }}" alt="IMG_36424a619eb7474f7bfe.jpeg" style="width:400px;height:500px";/>
        <!-- <p align="center">Accuracy = [0.94]</p>
        <p align="center">This surface have HmeeRuad = 5</p> -->
        {% include '../components/resulttable.html' %}
         </div>
    </div>
</body>
</html>